@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Gilroy';
        src: url('../../public/fonts/Gilroy-Bold.ttf');
        font-weight: bold;
    }
    @font-face {
        font-family: 'Gilroy';
        src: url('../../public/fonts/Gilroy-Regular.ttf');
        font-weight: normal;
    }
}